/* ==== Global Styles ====  */

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/open-sans-v34-latin-700.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-700.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Open Sans Condensed";
  font-weight: 700;
  src: url("../fonts/OpenSansCondensedBold.woff") format("woff2"),
    url("../fonts/OpenSansCondensedBold.woff2") format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
}
img {
  display: block;
}
body {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  color: #222;
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0px 20px;
}

/* ==== Header Styles ====  */

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 24px 0;
}
.navbar_list {
  display: flex;
  padding-left: 0;
  list-style: none;
  font-family: "Open Sans";
  font-weight: 700;
}
.navbar_item {
  margin-right: 32px;
}
.navbar_item:nth-child(5) {
  margin-right: 0;
}
.navbar_link {
  text-decoration: none;
  color: #222;
}
.btn {
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 2px;
  font-family: "Open Sans Condensed";
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 24px;
  border: 2px solid transparent;
  background-color: #de2e54;
  border-radius: 8px;
}

/* ==== Main Styles ====  */

.site_intro {
  background-color: #0eb4c1;
}
.intro_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro_text {
  width: 500px;
  color: #fff;
}
.intro_heading {
  font-size: 36px;
  line-height: 120%;
}
.intro_paragraph {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 16px 0 36px 0;
}
.intro-img {
  padding-top: 29px;
}

.services {
  padding: 120px 0;
}

.services_title {
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 56px;
}

.services_list {
  padding-left: 0;
  list-style: none;
}
.services_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.services_item:nth-child(4) {
  margin-bottom: 60px;
}
.item_img {
  margin-right: 64px;
}
.services_content {
  width: 600px;
}
.services_heading {
  font-size: 24px;
  line-height: 120%;
}
.services_text {
  margin-top: 24px;
  color: #444;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.services_btn {
  display: block;
  margin: 0 auto;
}
.site_article {
  background-color: #0eb4c1;
  padding: 64px 0;
}
.article_heading {
  text-align: center;
  font-size: 36px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 40px;
}
.article_btns {
  display: flex;
  justify-content: center;
}
.article_btn {
  display: inline-block;
  border: 2px solid #ffffff;
  background-color: #0eb4c1;
}
.article_btn:nth-child(2) {
  margin-left: 40px;
}

/* ==== Footer Styles ====  */

.site_footer {
  background-color: #222;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.site_logo {
}
.footer_list {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.footer_item {
  margin-right: 32px;
}
.footer_item:nth-child(5) {
  margin-right: 0;
}
.footer_link {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
}
